### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
total_players = purchase_data_df["SN"].nunique()
total_players_df = pd.DataFrame([
    {"Total Players":total_players}
])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Find unique items by Item ID column
unique_items = purchase_data_df["Item ID"].nunique()
average_price = purchase_data_df["Price"].mean()
number_of_purchases = len(purchase_data_df["Item ID"])
total_revenue = purchase_data_df["Price"].sum()

# Display in DataFrame
unique_items_df = pd.DataFrame({
    "Number of Unique Items":[str(round((unique_items),0))],
    "Average Price":["$"+str(round((average_price),2))],
    "Number of Purchases": [str(round((number_of_purchases),0))],
    "Total Revenue": ["$"+str(round((total_revenue),2))]
})
unique_items_df
#(round((average_price),2))

  Number of Unique Items Average Price Number of Purchases Total Revenue
0                    183         $3.05                 780      $2379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Use groupby to find Gender
gender_df = purchase_data_df.groupby("Gender")

# Filter by unique players (remove duplicates)
count_by_gender = gender_df["SN"].nunique()

# Percentage of players
sum_of_gender = sum(count_by_gender)
percentage = (count_by_gender/sum_of_gender)*100
percentage

# DataFrame with summary data
gender_demographics_df = pd.DataFrame({
    "Total Count":count_by_gender,
    "Percentage of Players": (round((percentage),2))})
sort_by_count_df = gender_demographics_df.sort_values("Total Count",ascending=False)
sort_by_count_df

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
# Find values from gender_df
purchase_count = gender_df.count()["Purchase ID"]
avg_purchase_price = gender_df.mean()["Price"]
total_purchase_value = gender_df.sum()["Price"]
avg_total_per_person = total_purchase_value/count_by_gender

# DataFrame with summary data
gender_purchasing_analysis_df = pd.DataFrame({
    "Purchase Count":purchase_count,
    "Average Purchase Price":avg_purchase_price,
    "Total Purchase Value": total_purchase_value,
    "Avg Total Purchase per Person": avg_total_per_person
})
gender_purchasing_analysis_df.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [64]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age Bins"] = pd.cut(purchase_data_df["Age"],age_bins, labels=group_names)

# Use groupby to find Gender
age_df = purchase_data_df.groupby("Age Bins")

# Filter by unique players (remove duplicates)
count_by_age = age_df.nunique()["SN"]

# Percentage of players
sum_of_age = sum(count_by_age)
age_percentage = (count_by_age/sum_of_age)*100
age_percentage

# DataFrame with summary data
age_demographics_df = pd.DataFrame({
    "Total Count":count_by_age,
    "Percentage of Players": (round((age_percentage),2))})
age_demographics_df

          Total Count  Percentage of Players
Age Bins
<10                17                   2.95
10-14              22                   3.82
15-19             107                  18.58
20-24             258                  44.79
25-29              77                  13.37
30-34              52                   9.03
35-39              31                   5.38
40+                12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [65]:
# Find values from purchase_data_df
age_purchase_count = age_df.count()["Purchase ID"]
age_avg_purchase_price = age_df.mean()["Price"]
age_total_purchase_value = age_df.sum()["Price"]
age_avg_total_per_person = age_total_purchase_value/count_by_age

# DataFrame with summary data
age_purchasing_analysis_df = pd.DataFrame({
    "Purchase Count":age_purchase_count,
    "Average Purchase Price":age_avg_purchase_price,
    "Total Purchase Value": age_total_purchase_value,
    "Avg Total Purchase per Person": age_avg_total_per_person
})
age_purchasing_analysis_df.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [90]:
# Filter by unique players (remove duplicates)
unique_users_df = purchase_data_df.groupby("SN")

# Find the purchase count, avg purchase price, total purchase value
top_purchase_count = unique_users_df.count()["Purchase ID"]
top_avg_price = unique_users_df.mean()["Price"]
top_total_price = unique_users_df.sum()["Price"]

# DataFrame with summary data
top_spenders_purchasing_analysis_df = pd.DataFrame({
    "Purchase Count":top_purchase_count,
    "Average Purchase Price":top_avg_price,
    "Total Purchase Value": top_total_price,
})

sort_top_5_df = top_spenders_purchasing_analysis_df.sort_values("Total Purchase Value",ascending=False)

sort_top_5_df.head().style.format({"Average Purchase Price":"${:,.2f}",
                        "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [107]:
# Retrieve the Item ID, Item Name, and Item Price columns
popular_items_df = purchase_data_df[["Item ID","Item Name","Price"]]

# Group by Item ID and Item Name
popular_items_unique_df = popular_items_df.groupby(["Item ID","Item Name"])

# Perform calculations to obtain purchase count, item price, and total purchase value
items_purchase_count = popular_items_unique_df.count()["Price"]
item_total_purchase_value = popular_items_unique_df.sum()["Price"]
item_price = item_total_purchase_value/items_purchase_count

# DataFrame with summary data
pop_items_purchasing_analysis_df = pd.DataFrame({
    "Purchase Count":items_purchase_count,
    "Item Price": item_price,
    "Total Purchase Value": item_total_purchase_value,
})

item_sort_top_5_df = pop_items_purchasing_analysis_df.sort_values("Purchase Count",ascending=False)

item_sort_top_5_df.head().style.format({"Item Price":"${:,.2f}",
                        "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [109]:
# Sort the above table by total purchase value in descending order

item2_sort_top_5_df = pop_items_purchasing_analysis_df.sort_values("Total Purchase Value",ascending=False)

item2_sort_top_5_df.head().style.format({"Item Price":"${:,.2f}",
                        "Total Purchase Value":"${:,.2f}"})